[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "Command-T"]
	path = Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim-clojure-static"]
	path = vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "vim-foreplay"]
	path = vim-foreplay
	url = git://github.com/tpope/vim-foreplay.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
